<div class="w-full bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
  <p>Whoops! Looks like the link is a bit outdated. Just request a new one <%= link_to "here", new_login_path %>.</p>
</div>