<div class="p-2 w-full mx-auto max-w-2xl" id="<%= dom_id(link) %>">
    <div>
        <label class="flex bg-gray-100 text-gray-700 rounded-md px-2 py-1  hover:bg-indigo-300 cursor-pointer ">
            <%= link_to link_path(link.to_param), class: "no-underline" do %>
                <%= link.url %>
            <% end %>
        </label>
    </div>
</div>